* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

header h1 {
   text-align: center;
   background-color: #98FB98;
}

.banner {
   background-color: lemonchiffon;
   height: 400px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.banner-info {
   text-align: center;
}

.banner-info img {
   width: 300px;
   height: 350px;
   border-radius: 100%;
}

.banner-info p {
   font-size: 25px;
}

nav {
   display: flex;
   justify-content: space-between;
   border: 10px solid #98FB98;
   padding: 10px;
}

.menu {
   display: flex;
   list-style: none;
}

.menu li {
   margin : 10px;
   font-size: 30px;
   text-align: center;
}

.menu li a {
   text-decoration: none;
   color: #333;
   background-color: whitesmoke;
   margin-left: 150px;
   margin-right: 150px;
}

main {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
}

main div p {
   text-align: center;
   font-size: 50px;
   margin: 40px;
   background-color: aliceblue;
}

.ig {
   font-size: 28px;
   text-align: center;
   text-decoration: none;
}

main div h5 {
   font-size: 20px;
}

main div iframe {
   border-radius: 10px;
   margin-top: 20px;
}

main div li {
   font-size: 25px;
   margin: 10px;
}

main div h3 {
   font-size: 30px;
   margin-left: 50px;
}

main div video {
   margin: 120px;
   margin-top: 20px;
   border: #333;
   background-color: black;

}
 main div img {
   margin: 45px;
 }

 footer {
   text-align: center;
   background-color: wheat;
   padding: 10px;

 }
